<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Community_Hub</title>
    <link rel="stylesheet" href="/stylesheets/N_top.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">Community_Hub</h2>
        <h1 class="title">Community_Hub</h1>
        <p class="description">
          Community_Hub。コミュニティが集まるコミュニティ
          <br>
          それは、全ての人が出会うべき人と繋がるツール。
        </p>
        <a class="index-button" href="/touroku">コミュニティを登録する</a>
        <a class="index-button">一覧を見る</a>
      </div>
    </div>
    <!-- <% const item = {id: 4, name: 'とまと'} %>
    <p><%= item.name %></p> -->
  </body>
</html>